body {
    background-color:white;
}

#chart div { /*CSS for div-elementer (stolpene) i #chart*/
    height: 15px; /*Alle får samme høyde*/
    margin-bottom: 5px; /*Marg under hver stolpe*/
    background-color: DarkOrange;
    color: white; /*Hvit skrift*/
    padding: 5px; /*Mellomrom mellom skriften i stolpene og ut til kantene på stolpene*/
}
