body {
    background-color:white;
}

#chart { /*CSS-stil til flexbox*/
    display: flex;
    width: 600px;
    height: 300px;
    flex-direction: row;
    align-items:flex-end;
    overflow: auto;
    flex-grow: 1;
}

#chart div { /*CSS-stil til flex items*/
    background-color: DarkSeaGreen;
    margin: 0px 5px;
    padding: 0px 2px;
    text-align: center;
    color: white;
    font-family: arial, verdana, sans-serif;
}
