 @keyframes runningHorse{
	from {
        background-position: -6px 0px;
	}
	to {
        background-position: -3350px 0px;
	}
}


#stop_motion {
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;    
    margin: auto;
    height: 144px;
    width: 209px;
    
    background-image: url("../bilder/stop_motion.jpg");

    animation-name: runningHorse;
    animation-duration: 2s;
    animation-timing-function: steps(16);
    animation-iteration-count: infinite;
}

#wrapper{
    border: solid black 5px;
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;    
    margin: auto;
    height: 144px;
    width: 209px;

    animation: wrapper 10s linear infinite alternate;
}