p {
    width:300px;
    height:30px;
    background-color: LimeGreen;
	text-align: center;
	transform-origin: left bottom;
    transition: transform 2s;
}


p:active{
    transform: rotate(70deg) scale(0.5);
	background-color: red;

    transition-timing-function: ease;
}



















/*

*/

/*    transform-origin: left bottom;    */
/*    transition: transform 2s;         */
