

div {
	top:100px;
    width:300px;
    height:30px;
    background-color: LimeGreen;
    text-align: center;
	transform-origin: left bottom;
	position: absolute;
}

.buttons{
	top:0px;
	background-color: white;
}

