@keyframes rotasjon{
	0% {
		transform: rotate(0deg);
		top: 0px;
		left: 0px;
        background-color: LimeGreen;
	}
	
	25% {
		transform: rotate(70deg);
		top: 100px;
		left: 100px;
		background-color: red;
	}
	50% {
		transform: rotate(50deg);
		top: 100px;
		left: 100px;
		background-color: yellow;
	}
	75% {
		transform: rotate(70deg);
		top: 100px;
		left: 100px;
		background-color: orange;
	}
	
	100% {
		transform: rotate(0deg);
		top: 0px;
		left: 150px;
		background-color: blue;
	}
	
}

div {
    width:300px;
    height:30px;
    text-align: center;
	transform-origin: left bottom;
	position: absolute;
	background-color: green;

	animation-name: rotasjon;
	animation-duration: 5s;
	animation-timing-function: ease;
	animation-direction: alternate;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
}


/* 
@keyframes rotasjon{
	from {
		transform: rotate(0deg);
	}
	
	to {
		transform: rotate(45deg);
	}
}
