

div {
	top:100px;
    width:300px;
    height:30px;
    background-color: LimeGreen;
    text-align: center;
	transform-origin: left bottom;
	position: absolute;
}

.buttons{
	top:0px;
	background-color: white;
}




























/* 
@keyframes rotasjon{
	from {
		transform: rotate(0deg);
	}
	
	to {
		transform: rotate(45deg);
	}
}


	animation-name: rotasjon;
	animation-duration: 2s;



	position: absolute;
	transform-origin: left bottom;

	animation-direction:alternate;
	animation-iteration-count: 3;
	animation-fill-mode: forwards;
	animation-timing-function: ease;

div:hover{
	animation-play-state: running;
}


*/