 @keyframes rotasjon{
	from {
		transform: rotate(0deg);
        background-color: red;
	}
	
	to {
		transform: rotate(45deg);
        background-color: blue;
	}
}

div {
    position: relative;
	width: 300px;
	transform-origin: left bottom;
    margin: 5px;
    padding: 5px;
    
    animation-name: rotasjon;
	animation-duration: 2s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
    animation-play-state: running;   
    /*animation: rotasjon 2s ease alternate 3 forwards;*/
}



div:hover{
	animation-play-state: paused;
}
